
body {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

.page-header {
  background-color: #00bda5;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}

/* Navigation */

.nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.nav > li {
  display: inline-block;
  float:none;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #040404;
}

/* Search Button */
.search-button {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-color: #00bda5;
  border: 1px solid #00bda5;
  padding: 2px;
  margin-left: -6px;
}

.search-button:hover {
  background-color: #01c2a9;
}

/* Input Bar */
input[type="number"] {
  width: 25%;
  border: 1px solid #00bda5;
}

/* City */
.city {
  font-family: 'Poppins', sans-serif;
  /* font-weight: 400;
  margin-top: 40px;
  font-size: 48px; */
}



/* WEATHER */
.weather{
            display: flex;
            flex-flow: column wrap;
            box-shadow: 0px 1px 10px 0px #cfcfcf;
            overflow: hidden;
            margin-top: 40px;
        }
    
            .weather .current
            {
                display: flex;
                flex-flow: row wrap;
                background-image: url("/images/london-view.png");
                background-repeat: repeat-x;
                color: white;
                padding: 20px;
                text-shadow: 1px 1px #000000;
            }
    
                .weather .current .info
                {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-around;
                    flex-grow: 2;
                }
    
                    .weather .current .info .city-label
                    {
                        font-size: 26px;
                    }
    
                    .weather .current .info .temp-label
                    {
                        font-size: 56px;
                    }
    
                    .weather .current .info .wind-label
                    {
                        font-size: 24px;
                    }
    
          