
body {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

.page-header {
  background-color: #00bda5;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}

/* Navigation */

.nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.nav > li {
  display: inline-block;
  float:none;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #040404;
}

/* Search Button */
.search-button {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background-color: #00bda5;
  border: 1px solid #00bda5;
  padding: 2px;
  margin-left: -6px;
}

.search-button:hover {
  background-color: #01c2a9;
}

/* Input Bar */
input[type="number"] {
  width: 25%;
  border: 1px solid #00bda5;
}

/* City */
.city {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 40px;
  font-size: 48px;
}