<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>About</h1>
  </div>

  <p>This nodejs web app was created using the Open Weather Map API (<a href="https://openweathermap.org" target="_blank">openweathermap.org</a>).</p>
  
  <footer>
    <p>Created by <a href="https://github.com/jeremyscottcollins/getweatherbyzip" target="_blank">Jeremy Collins</a></p>
  </footer>
  
</body>

</html>