<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>Get Weather by ZIP Code</h1>
  </div>

  <input type="text" class="search" placeholder="Enter your ZIP Code">
  <button type="button" onclick="searchWeather()">Search</button>

  <div class="city"></div>

  <div class="temp"></div>

  <div class="wind"></div>

  <div class="error-message"></div>
  
</body>

</html>