<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class='nav-item'><a class="nav-link" href="/about">About</a></li>
    <li class='nav-item'><a class="nav-link" href="https://openweathermap.org" target="_blank">Open Weather Map</a></li>
</ul>